#Menu,#gamePane,#resultPane,#teamPane,#informationPane{
    -fx-background-color: rgba(0, 0, 0, 0.85);
}

#hint{
    -fx-font-: Sans-serif ;
    -fx-font-size: 14pt;
    -fx-text-fill: #ffffff  ;
}

.button{
    -fx-background-color: #43eee8;  /* fallback for old browsers */
    -fx-font-: Sans-serif ;
    -fx-font-size: 14pt;
    -fx-text-fill: #ffffff;
}

