#Menu{
    -fx-background-color: rgba(0, 0, 0, 0.81);
}
#gamePane,#resultPane,#informationPane{
    -fx-background-color: rgba(0, 0, 0, 0.81);
}



.button{
    -fx-background-color: #43eee8;  /* fallback for old browsers */
    -fx-font-: Sans-serif ;
    -fx-font-size: 14pt;
    -fx-text-fill: #ffffff  ;
}